.container {
    display: flex;
    flex-direction: row;
}

.mediaPlay {
    flex: 3;
    background-color:rgb(113, 113, 113);
    height: 1080px;
    justify-items: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btnControl {
    background-color: white;
    justify-content: center;
    align-content: center;
    padding: 10px;
    border-color: white;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50%;
}

.playerImage {
    align-self: center;
    justify-self: center;
    width: 25%;
}

.mediaList {
    flex: 1;
    background-color: rgb(61, 61, 61);
    height: 1080px;
}

.itemList {
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px;
    border-color: white;
}

.itemText {
    font-size: 20px;
    color: white;
    margin-left: 30px;
    text-align: center;
}